.aboutmain{
    display: flex;
    align-items: center;
    justify-content: space-between;


    border-radius: 10px;
    background: #393E46;
    
    overflow-y: hidden;

    margin-top: 100px;
}

.scrollContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scrollContainer div{
    width: 50%;
}

.aboutmain h1{
    padding: 20px 20px 20px 30px ;
    width: 100%;
    font-size: 4vw;
}

.aboutmain p{
    padding: 20px 30px 20px 20px ;
    font-size: 1.55vw;
    width: 100%;
    text-align: justify;
}

@media (max-width: 600px) {

    .aboutmain{
        flex-direction: column;
        gap: 20px;
        height: auto;
        width: 95vw;
        border-radius: 0;
    }

    .scrollContainer{
        flex-direction: column;
    }

    .scrollContainer div{
        width: 100%;
        align-items: center;
        padding: 15px;
    }

    .aboutmain h1{
        font-size: 5vh;
        padding: 0;
        text-align: justify;
        text-wrap: balance;
    }

    .aboutmain p{
        font-size:2vh;
        padding: 0;
    }
}