.bottomcardmain{
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    border-radius: 10px;
    box-shadow: 1px 1px 36px 3px rgba(255, 255, 255, 0.5);
    backdrop-filter:saturation(180) blur(20px); 
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.cubeContainer{
    width: var(--cube-size);
    height: var(--cube-size);
}

.btnContainer:hover{
    cursor: pointer;
}

.btnContainer a{
    display: flex;
    font-size: 20px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}

.btnContainer a img{
    height: 34px !important;
    width: 34px !important;
}

.adImageContainer{
    width: 89px;
    height: 80px;
    position: relative;
}

.adImageContainer:hover{
    cursor: pointer;
}

.bottomCardImage{
    width: 89px !important;
    height: 80px !important;
    object-fit: cover;
    border-radius: 10px;
}

.btnContainer{
    width: 280px;
    height: 75px;

    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgba(255, 255, 255, 0.5);
    backdrop-filter:saturation(180) blur(20px); 
    box-shadow: 1 0 30px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomScroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}

@media (max-width: 600px) {
    .bottomcardmain {
        width: 95vw;
        align-self: center;
        border-radius: 0;
    }

    .bottomScroll{
        width: 125vw;
        padding-right: 100px;
        padding-left: 30px;
        display: flex;
        overflow: scroll;
        flex-direction: row-reverse;
    }

    .btnContainer{
        width: 150px;
        height: 65px;
        /* border-radius: 0; */
        padding: 0 20px;
    }

    .btnContainer a{
        font-size: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .btnContainer a img{
        height: 17px !important;
        width: 17px !important;
    }

    .adImageContainer{
        width: 69px;
        height: 60px;
    }

    .bottomCardImage{
        width: 69px !important;
        height: 60px !important;
        object-fit: cover;
        border-radius: 10px;
    }
}