


.headermain{
    position: fixed;
    top: 0;
    z-index: 99;


    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

    padding: 0 5%;
    background: #222831;
}

.logo{
    width: 20%;
}

.logoText{
    font-size: 48px;
    font-weight: 700;
}

.menuItems{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.menuItems p{
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

@media (max-width: 600px) {

    .headermain{
        padding-left: 10px;
        border-radius: 0;
        height: 80px;
    }

    .logoText{
        font-size: 4.5vw;
    }

    .menuItems p{
        font-size: 3.5vw;
    }
}