.mainboxmain{
    display: flex;
    border-radius: 10px;
    backdrop-filter:saturation(180) blur(20px); 
    background: #393E46;
}

.contentMainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100%;
    padding: 15px;
    padding-left: 25px;
    overflow: hidden;
}

.contentMainBox h1{
    text-wrap: balance;
    text-transform: capitalize;
    color: #f3f3f3;
    font-size: 4vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}

.contentMainBox p{
    text-align: justify;
}

.mainBoxImage{
    position: relative;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.mainBoxImage img{
    object-fit: cover;
}

@media (max-width: 600px) {
    .mainboxmain {
        flex-direction: column;
        gap: 20px;
        width: 95vw;
        border-radius: 0;
    }

    .contentMainBox{
        width: 100%;
        padding: 15px;
    }

    .mainBoxImage{
        width: 100%;
        height: 250px;
    }

    .mainBoxImage img{
        position: absolute;
        
    }

    .contentMainBox h1{
        font-size: 30px;
    }

    .contentMainBox p{
        font-size: 14px;
    }
}

