
.allignment{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 95%;
    height: 100%;
    position: relative;
}

.mainScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.about{
    height: 100vh;
}

@media (max-width: 600px) {

    .allignment{
        padding: 0;
    }

    .col{
        width: auto;
        gap: 50px;
    }

    .mainScreen{
        margin-bottom: 0px;
        position: relative;
    }
}