*, *:before, *:after {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  :root{
    --cube-size: 100px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  body {
    background-color: black;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; 
  
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
  }

  li{
    list-style: none;
    color: #dfdfdf;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p{
    color: #dfdfdf;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  a{
    text-decoration: none;
    color: #EFE4E4;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a:hover, li:hover{
    cursor: pointer;
  }

  .Container{
    display: flex;
  }